/* .....................
styling for the hero page 
.......................*/
.sect-1 {
    background-image: url(./assests/herobg.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}